.wrap{
     background-color: #9e9e9e;
     border: 1px solid black;
     box-sizing: border-box;
     padding: 10px 0;
     text-align: center;
     font-size: 16pt;
}

@media screen and (max-width: 871px){
     .wrap{
          font-size: 15pt;
     }
 }
 
 @media screen and (max-width: 810px){
     .wrap{
         font-size: 14pt;
     }
 }
 
 @media screen and (max-width: 200px){
     .wrap{
         font-size: 13pt;
     }
 }