.wrap textarea{
     padding: 5px;
     resize: none;
     height: 75px;
     font-size: 12pt;
     opacity: 0.5;
     box-sizing: border-box;
     width: 100%;
}

.wrap textarea:focus{
     opacity: 1;
     color: black;
     border: 1px solid black;
}

.errorMessage{
     color: rgb(190, 0, 0);
     background-color: #ff6a6a;
     border: 1px solid rgb(190, 0, 0);
     box-sizing: border-box;
     padding: 5px;
     font-size: 12pt;
     margin-bottom: 10px;
}

@media screen and (max-width: 871px){
     .wrap textarea, .errorMessage{
         font-size: 11pt;
     }
 }
  
@media screen and (max-width: 810px){
     .wrap textarea, .errorMessage{
         font-size: 10pt;
     }
}
  
@media screen and (max-width: 200px){
     .wrap textarea, .errorMessage{
         font-size: 9pt;
     }
}
 