.wrap{
    display: flex;
    margin-bottom: 5px;
}

.errorMessage{
    color: rgb(190, 0, 0);
    background-color: #ff6a6a;
    border: 1px solid rgb(190, 0, 0);
    box-sizing: border-box;
    padding: 5px;
    margin-left: 15px;
    font-size: 12pt;
}

.wrap input{
    font-size: 12pt;
    padding: 5px;
}

@media screen and (max-width: 871px){
    .wrap input, .errorMessage{
         font-size: 11pt;
    }
}

@media screen and (max-width: 810px){
    .wrap input, .errorMessage{
        font-size: 10pt;
    }
}

@media screen and (max-width: 200px){
    .wrap input, .errorMessage{
        font-size: 9pt;
    }
}