.wrap{
    display: flex;
    margin-bottom: 5px;
}

.errorMessage{
    background-color: #9e9e9e;
    border: 1px solid black;
    padding: 5px;
    margin-left: 15px;
    font-size: 12pt;
}

.wrap input{
    font-size: 12pt;
    padding: 5px;
}

@media screen and (max-width: 871px){
    .wrap input, .errorMessage{
         font-size: 11pt;
    }
}

@media screen and (max-width: 810px){
    .wrap input, .errorMessage{
        font-size: 10pt;
    }
}

@media screen and (max-width: 200px){
    .wrap input, .errorMessage{
        font-size: 9pt;
    }
}