.errorMessage{
    color: rgb(190, 0, 0);
    background-color: #ff6a6a;
    border: 1px solid rgb(190, 0, 0);
    box-sizing: border-box;
    padding: 5px;
    margin-left: 15px;
    font-size: 12pt;
}
 
.wrap label, .wrap p{
    font-size: 12pt;
}

.wrap p{
    margin-left: 10px;
    padding: 3px 0;
}

.input_image_form input{
    display: none;
}

.input_image_form{
    display: flex;
}
 
@media screen and (max-width: 871px){
    .wrap label, .errorMessage, .wrap p{
        font-size: 11pt;
    }
}
 
@media screen and (max-width: 810px){
    .wrap label, .errorMessage, .wrap p{
        font-size: 10pt;
    }
}
 
@media screen and (max-width: 200px){
    .wrap label, .errorMessage, .wrap p{
        font-size: 9pt;
    }
}
