.wrap{
     color: rgb(156, 156, 156);
     background-color: #343a40;
     border-radius: 0 0 15px 15px;
     padding: 8px 10px;
     text-transform: uppercase;
     margin-bottom: 15px;
}
.menu_input{
     display: none;
}

.wrap ul{
     display: flex;
     justify-content: center;
}

.wrap li a{
     color: rgb(156, 156, 156);
     padding: 0 3px;
}

.wrap li:not(:first-child){
     margin-left: 20px;
}

.active{
     color: rgb(179, 179, 179);
     font-weight: 600;
     border-bottom: 3px solid rgb(179, 179, 179);
}

.mode{
     -webkit-transition: all 1s;
     -o-transition: all 1s;
     -moz-transition: all 1s;
     transition: all 1s;
}

.wrap .admin{
     padding: 3px;
     background-color: rgb(255, 136, 25);
     border: 2px solid rgb(185, 105, 0);
     color: rgb(167, 94, 0);
}

.wrap .user{
     padding: 3px;
     background-color: rgb(69, 241, 92);
     border: 2px solid rgb(1, 139, 19);
     color: rgb(1, 139, 19);
     border-radius: 15px;
}

@media screen and (max-width: 879px){
     .wrap{
          font-size: 11pt;
     }
}

@media screen and (max-width: 810px){
     .wrap{
          font-size: 10pt;
     }
}

@media screen and (max-width: 611px){
     .wrap ul{
          display: block; 
          text-align: center  ;
     }

     .toggle_menu{
          display: block;
          text-align: center;
          cursor: pointer;
     }

     .wrap ul li{
          margin-top: 7px;
     }

     .wrap ul li:last-child{
          margin-top: 11px;
     }

     .wrap ul li:not(:last-child){
          display: none;
     }

     .toggle_menu::after{
          content: attr(data-open);
     }

     .menu_input:checked + .toggle_menu + ul li:not(:last-child){
          display: block;
     }

     .menu_input:checked + .toggle_menu::after{
          content: attr(data-close);
     }

     .wrap li:not(:first-child){
          margin-left: 0;
     }
}

@media screen and (max-width: 200px){
     .wrap{
          font-size: 9pt;
     }
}